<head>
<style type="text/css">
thead {color:#222; font-size: 30px}
tbody {color: #222;}

h1{color: #222; font-size: 50px; font-weight: bold; letter-spacing: +5px; text-align:center;}

th{border-top: 0px; border-bottom: 5px solid #161C40; background-image:url('billie_holiday.png'); letter-spacing: +3px}
td{background-color: lightgrey; letter-spacing: +1px}

tr{border-bottom: 2px solid #222; background-image:url('billie_holiday.png')}

td:hover {background-color: #E8DDCB;}
a {color:#161C40; font-weight: bold}
td:hover a{color:#161C40;}
</style>
</head>

<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <ul class = "nav">
            <a class="brand" href="/"><strong>Tay Group</strong></a>
          <li class="divider-vertical"></li>
          <li><a href="/research"><strong>Reserach</strong></a></li>
          <li class="active"><a href="/news"><strong>News</strong></a></li>
          <li><a href="/publications"><strong>Publications</strong></a></li>
          <li><a href="/people"><strong>People</strong></a></li>
          <li><a href="/opportunities"><strong>Opportunities</strong></a></li>
          <li><a href="/contact"><strong>Contact</strong></a></li>
        </ul>
      </div>
    </div>
  </div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class="row-fluid">
  <div class="well-small" style="text-align: center; background-color: lightgrey">
    <h1>News</h1>
  </div>
</div>

<div class="container-fluid" style="border: 0px; border-color: blue; background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class ="row-fluid">
<table class = "table">
  <thead>
    <tr>
      <th><br>2009<br><br></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><br>S. Tay, A. Kropachev, I. E. Araci, R. A. Norwood, T. Skotheim, N. Peyghambarian, “Plasmonic thermal IR emitters based on nano-amorphous carbon.” <strong>Applied Physics Letters</strong>, 94, 071113 (2009)<br><br></td>
    </tr>
  </tbody>

  <thead>
    <tr>
      <th><br>2010<br><br></th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><br>Our paper on digital NF-κB signaling regarded "Exceptional" by <%= link_to 'Faculty of 1000 Biology', 'http://f1000.com/' -%>, and was ranked #2 among all Biology papers as of July 29, 2010.<br><br></td>
    </tr>
    <tr>
      <td><br><%= link_to 'In signaling, not all cells are equal', 'http://www.biotechniques.com/news/In-signaling-not-all-cells-are-equal/biotechniques-300195.html' -%> (nice review of our NF-κB paper by <%= link_to 'Biotechniques.com', 'http://www.biotechniques.com'-%><br><br></td>
    </tr>

    <tr>
      <td><br>New paper published in Nature : "Singe-cell NF-κB dynamics reveal digital activation and analogue information processing" (Nature 466, 267-271,July 2010). <%= link_to '[PDF]', 'http://www.biotechniques.com'-%><br><br></td>
    </tr>

    <tr>
      <td><br>Stanford <%= link_to 'news story', 'http://med.stanford.edu/ism/2010/june/covert.html'-%> on digital signaling in cells.<br><br></td>
    </tr>

    <tr>
      <td><br>Seminar at ETH Zurich, Department of Biosystems Science and Engineering (June, 2010)<br><br></td>
    </tr>

    <tr>
      <td><br>Seminar at University of Illinois, Chicago, Bioengineering Department (March 12, 2010)<br><br></td>
    </tr>

    <tr>
      <td><br>Seminar at University of Illinois, Urbana Champaign Bioengineering Department (March 10, 2010)<br><br></td>
    </tr>

    <tr>
      <td><br>Presented at the  <%= link_to 'Biophysical Society 54th Annual Meeting', 'http://www.biophysics.org/Default.aspx?alias=www.biophysics.org/2010meeting'-%> in San Francisco, Feb 23, 2010<br><br></td>
    </tr>

    <tr>
      <td><br>Seminar at Emory University Dept. of Physics (March 3, 2010)<br><br></td>
    </tr>

    <tr>
      <td><br>Seminar at NIH Institute of Allergy and Infectious Diseases (March 2010)<br><br></td>
    </tr>

    <tr>
      <td><br>Seminar at NYU Medical School, Skirball Institute (Jan 26, 2010)<br><br></td>
    </tr>

    <tr>
      <td><br>Invited talk at SPIE Photonics West (BiOS) on the use of microfluidics in decoding genetic signaling networks (25 January 2010, San Francisco)<br><br></td>
    </tr>

    <tr>
      <td><br>Seminar at Boston University Bioengineering Department (Jan 20, 2010)<br><br></td>
    </tr>

    <tr>
      <td><br>Seminar at UNC Chapel Hill Dept. of Biology (Jan 7, 2010)<br><br></td>
    </tr>

    <tr>
      <td><br>Gave a talk at <%= link_to 'APS March Meeting', 'http://www.aps.org/meetings/march/'-%> about latest results on the systems biology of NF-KB(2010, Portland, OR)<br><br></td>
    </tr>

  </tbody>
</table>
</div>
</div>

</body>