<head>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<style type="text/css">
  thead {color:#222; font-size: 30px}
  tbody {color: #222;}
  h1{color: #222; font-size: 50px; font-weight: bold; letter-spacing: +5px; text-align:center;}
  h4{color: #222; font-size: 15px; font-weight: bold; letter-spacing: +5px; text-align:center;}
  th{border-top: 0px; border-bottom: 5px solid #161C40; background-image:url('billie_holiday.png'); letter-spacing: +3px}
  td{background-color: lightgrey; letter-spacing: +1px;}
  .dropdown-backdrop {position: static;}
  tr{border-bottom: 2px solid #222; background-image:url('billie_holiday.png')}

  td:hover {background-color: #eeeeee;}
  a {color:#161C40; font-weight: bold}
  td:hover a{color:#161C40;}
  a.dropdown-toggle { outline: none}
  .dropdown-menu > li > a:hover {
      color:#E8DDCB;
      background:#031634;}

  #footer{
    position:absolute;
    left:0;
    right:0;
    height:300px;
    background:#eeeeee; border-top: 1px solid lightgrey; padding-top: 80px; padding-bottom: 100px}

  body{padding-top: 70px}
</style>
</style>
</head>

<body>
  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </a>
        <a class="brand" href="/"><strong>Tay Group</strong></a>
        <div class="nav-collapse">
              <ul class="nav">
                <li class="divider-vertical"></li>
                <li class="dropdown">
                    <a href="/research" class="dropdown-toggle" style="background-color: #fafafa;background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);background-repeat: repeat-x;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);*zoom: 1;" data-toggle="dropdown"><strong>Research</strong><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="/research"><strong>Reserach Overview</strong></a></li>
                      <li><a href="/technology"><strong>Technologies and Capabilities</strong></a></li>
                      <li><a href="/model"><strong>NF-&#954B Single-Cell Data and Model</strong></a></li>
                    </ul>
                </li>
                <li class="active"><a href="/news"><strong>News</strong></a></li>
                <li><a href="/publications"><strong>Publications</strong></a></li>
                <li><a href="/people"><strong>People</strong></a></li>
                <li><a href="/opportunities"><strong>Opportunities</strong></a></li>
                <li><a href="/contact"><strong>Contact</strong></a></li>
              </ul>
          </div>
        </div>
      </div>
  </div>

<div class = "row-fluid hidden-phone" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class="row-fluid">
  <div class="well-small" style="text-align: center; background-color: #021537">
    <h1 class="hidden-phone" style="color:#E8DDCB">News</h1>
  </div>
</div>

<div class="container-fluid" style="border: 0px; border-color: blue; background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class ="row-fluid">
<table class = "table">
  <thead>
    <tr>
      <th><br>2013<br><br></th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><br><%= link_to 'ETH Life', 'http://www.ethlife.ethz.ch/archive_articles/130819_erc_starting_grants_red/index_EN' -%> covered Savas Tay's <%= link_to 'ERC Starting Grant', 'http://erc.europa.eu/starting-grants' -%> award. (August 2013)<br><br></td>
    </tr>
    <tr>
        <td><br><%= link_to 'Turkish Radio and Television News', 'http://www.trthaber.com/haber/bilim-teknik/turk-bilim-insanina-buyuk-odul-94665.html' -%> covered Savas Tay's <%= link_to 'ERC Starting Grant', 'http://erc.europa.eu/starting-grants' -%> award. (July 2013)<br><br></td>
    </tr>
    <tr>
        <td>

          <div class="span2">
            <%= image_tag '/news/erc.jpg', :alt => 'erc logo', :class => "img-polaroid" %> 
          </div>

          <div class="span10"><br><br>Savas Tay was awarded the prestigious <%= link_to 'ERC Starting Grant', 'http://erc.europa.eu/starting-grants' -%> with the proposal titled "SingleCellDynamics: Optofluidic toolkit for systems immunology" (June 2013)</div><br><br></td>
    </tr>
    <tr>
        <td>

          <div class="span2">
            <%= image_tag '/publications/loc_cover_tino.jpg', :alt => 'tino loc cover', :class => "img-polaroid" %> 
          </div>

          <div class="span10"><br><br><br><br><%= link_to 'Tino\'s paper', '/publications/2013_loc_frank.pdf' -%> is published as a feature article in Lab on a Chip (January 2013)</div><br><br></td>
    </tr>
    <tr>
        <td><br>ETH Z&uumlrich is <%= link_to 'ranked', 'http://www.timeshighereducation.co.uk/world-university-rankings/2012-13/world-ranking/range/001-200' -%> 12th overall, and 8th in engineering, with a steady upward movement in the last decade.<br><br></td>
    </tr>
  </tbody>

  <thead>
    <tr>
      <th><br>2011<br><br></th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><br>Our single-cell analysis method is one of the technology features covered by Nature: <%= link_to '"The Deepest Differences"', '/publications/2011_nature_news.pdf' -%><br><br></td>
    </tr>
    <tr>
        <td><br>Microfluidic single-cell analysis work covered by the journal Science: <%= link_to '"The power of one"', '/publications/2011_science_news.pdf' -%><br><br></td>
    </tr>
  </tbody>

  <thead>
    <tr>
      <th><br>2010<br><br></th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
        <td><br>Our paper on digital NF-κB signaling regarded "Exceptional" by <%= link_to 'Faculty of 1000 Biology', 'http://f1000.com/' -%>, and was ranked #2 among all Biology papers as of July 29, 2010.<br><br></td>
    </tr>
    <tr>
      <td><br><%= link_to 'In signaling, not all cells are equal', 'http://www.biotechniques.com/news/In-signaling-not-all-cells-are-equal/biotechniques-300195.html' -%> (nice review of our NF-κB paper by <%= link_to 'Biotechniques.com', 'http://www.biotechniques.com'-%><br><br></td>
    </tr>

    <tr>
      <td><br>New paper published in Nature : "Singe-cell NF-κB dynamics reveal digital activation and analogue information processing" (Nature 466, 267-271,July 2010). <%= link_to '[PDF]', 'http://www.biotechniques.com'-%><br><br></td>
    </tr>

    <tr>
      <td><br>Stanford <%= link_to 'news story', 'http://med.stanford.edu/ism/2010/june/covert.html'-%> on digital signaling in cells.<br><br></td>
    </tr>

    <tr>
      <td><br>Seminar at ETH Zurich, Department of Biosystems Science and Engineering (June, 2010)<br><br></td>
    </tr>

    <tr>
      <td><br>Seminar at University of Illinois, Chicago, Bioengineering Department (March 12, 2010)<br><br></td>
    </tr>

    <tr>
      <td><br>Seminar at University of Illinois, Urbana Champaign Bioengineering Department (March 10, 2010)<br><br></td>
    </tr>

    <tr>
      <td><br>Presented at the  <%= link_to 'Biophysical Society 54th Annual Meeting', 'http://www.biophysics.org/Default.aspx?alias=www.biophysics.org/2010meeting'-%> in San Francisco, Feb 23, 2010<br><br></td>
    </tr>

    <tr>
      <td><br>Seminar at Emory University Dept. of Physics (March 3, 2010)<br><br></td>
    </tr>

    <tr>
      <td><br>Seminar at NIH Institute of Allergy and Infectious Diseases (March 2010)<br><br></td>
    </tr>

    <tr>
      <td><br>Seminar at NYU Medical School, Skirball Institute (Jan 26, 2010)<br><br></td>
    </tr>

    <tr>
      <td><br>Invited talk at SPIE Photonics West (BiOS) on the use of microfluidics in decoding genetic signaling networks (25 January 2010, San Francisco)<br><br></td>
    </tr>

    <tr>
      <td><br>Seminar at Boston University Bioengineering Department (Jan 20, 2010)<br><br></td>
    </tr>

    <tr>
      <td><br>Seminar at UNC Chapel Hill Dept. of Biology (Jan 7, 2010)<br><br></td>
    </tr>

    <tr>
      <td><br>Gave a talk at <%= link_to 'APS March Meeting', 'http://www.aps.org/meetings/march/'-%> about latest results on the systems biology of NF-KB(2010, Portland, OR)<br><br></td>
    </tr>

  </tbody>

 <thead>
    <tr>
      <th><br>2009<br><br></th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      <td><br>Seminar at the  Molecular and Cellular Biology Department, University of Arizona (Nov 24, 2009)<br><br></td>
    </tr>

    <tr>
      <td><br>Giving a talk at <%= link_to 'BMES', 'http://bmes.org/'-%> at the cell signaling session, October 09, Pittsburgh (missed the talk!)<br><br></td>
    </tr>

    <tr>
      <td><br>Presented a poster at International Conference on Systems Biology (<%= link_to 'ICSB', 'http://www.icsb-2009.org/'-%>) September at Stanford, CA<br><br></td>
    </tr>

    <tr>
      <td><br>Presented at (<%= link_to 'Q-BIO', 'http://www.cvent.com/events/q-bio-conference-2011/event-summary-78111db4eac9483e89432ffafc0e65be.aspx'-%>) conference, August 09, Los Alamos, NM<br><br></td>
    </tr>

    <tr>
      <td><br>3D display spin-off company launched by former UA team TIPD LLC<br><br></td>
    </tr>

    <tr>
      <td><br>New paper published: Plasmonic narrow-band thermal IR emitter based on nano-amorphous carbon (APL 94, 071113) <%= link_to '[PDF]', '/publications/2009_apl_tay.pdf'-%> (2/2009)<br><br></td>
    </tr>
  </tbody>

   <thead>
    <tr>
      <th><br>2008<br><br></th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td><br>Our holographic displays were featured on CNN (<%= link_to 'Holographic TV to become reality', 'http://edition.cnn.com/2008/TECH/science/10/06/holographic.television/'-%>) Oct, 2008.<br><br></td>
    </tr>

    <tr>
      <td><br>PhD dissertation nominated for the CGS Award by the University of Arizona, Aug 2008.<br><br></td>
    </tr>

    <tr>
      <td><br>3D displays at the cover of (<%= link_to 'OPN', 'http://www.osa-opn.org/home/'-%>) (Optics and Photonics News) July, 2008.<br><br></td>
    </tr>

    <tr>
        <td>

          <div class="span2">
            <%= image_tag '/news/2008_opn_cover.jpg', :alt => 'erc logo', :class => "img-polaroid" %> 
          </div>

          <div class="span10"><br><br><br><br><br>3D displays at the cover of (<%= link_to 'OPN', 'http://www.osa-opn.org/home/'-%>) (Optics and Photonics News) July, 2008.</div><br><br></td>
    </tr>

    <tr>
      <td><br>Presented photorefractive 3-D displays at an invited talk at the (<%= link_to 'International Conference on Organic Electronics', 'http://www.icoe2013.org/'-%>) (ICOE 2008) in Eindhoven, Netherlands 6/17/08<br><br></td>
    </tr>

    <tr>
      <td><br>Started a new postdoctoral position at (<%= link_to 'Steve Quake\'s lab', 'http://thebigone.stanford.edu/'-%>) at (<%= link_to 'Stanford Bioengineering', 'http://biox.stanford.edu/'-%>)<br><br></td>
    </tr>

  </tbody>
</table>
</div>

<div id = "footer" class="hidden-sm">
  <div class = "container">
    <div class = "row-fluid">
      <a class="span2" href="http://www.bsse.ethz.ch/"><img src="/home/D-BSSE_logo.jpg"></a>
        <p class="span3 offset3"><br><br><br>The Tay Group 2013</p>
        <a class="span2 offset2" href="http://www.ethz.ch/index_EN"><br><br><br><img src="/home/eth_logo.jpg"></a>
    </div>
  </div>
</div>

<div class="footer visible-sm" style="text-align: center">
    <p>The Tay Group 2013</p>
</div>

<!-- Javascript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<script>
  $(".collapse").collapse()
</script>

<script>
  $('.navbar .dropdown').hover(function() {
    $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
  }, function() {
    $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp()
  });
</script>

</body>
