<html>
<head>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

<style type="text/css">
thead {color:#222; font-size: 30px}
tbody {color: #222;}

h1{color: #222; font-size: 50px; font-weight: bold; letter-spacing: +5px; text-align:center;}
h4{color: #222; font-size: 15px; font-weight: bold; letter-spacing: +5px; text-align:center;}

th{border-top: 0px; border-bottom: 5px solid #021537; background-image:url('billie_holiday.png'); letter-spacing: +3px}
td{background-color: lightgrey; letter-spacing: +1px}

tr{border-bottom: 2px solid #222; background-image:url('billie_holiday.png')}

td:hover {background-color: #eeeeee;}
a {color:#161C40; font-weight: bold}
td:hover a{color:#161C40;}
a.dropdown-toggle { outline: none}
.dropdown-backdrop {position: static;}
.dropdown-menu > li > a:hover {
    color:#E8DDCB;
    background:#021537;}
#footer{
    position:absolute;
    left:0;
    right:0;
    height:300px;
    background:#eeeeee; border-top: 1px solid lightgrey; padding-top: 80px; padding-bottom: 100px}

body{padding-top: 70px}
</style>
</head>

<body>
  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </a>
        <a class="brand" href="/"><strong>Tay Group</strong></a>
        <div class="nav-collapse">
              <ul class="nav">
                <li class="divider-vertical"></li>
                <li class="dropdown">
                    <a href="/research" class="dropdown-toggle" style="background-color: #fafafa;background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);background-repeat: repeat-x;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);*zoom: 1;" data-toggle="dropdown"><strong>Research</strong><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="/research"><strong>Reserach Overview</strong></a></li>
                      <li><a href="/technology"><strong>Technologies and Capabilities</strong></a></li>
                      <li><a href="/model"><strong>NF-&#954B Single-Cell Data and Model</strong></a></li>
                    </ul>
                </li>
                <li><a href="/news"><strong>News</strong></a></li>
                <li class="active"><a href="/publications"><strong>Publications</strong></a></li>
                <li><a href="/people"><strong>People</strong></a></li>
                <li><a href="/opportunities"><strong>Opportunities</strong></a></li>
                <li><a href="/contact"><strong>Contact</strong></a></li>
             </ul>
          </div>
        </div>
      </div>
    </div>
<div class = "row-fluid hidden-phone" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class="row-fluid">
  <div class="well-small" style="text-align: center; background-color: #021537">
    <h1 class="hidden-phone" style="color: #E8DDCB">Publications</h1>
  </div>
</div>

<div class="container-fluid" style="border: 0px; border-color: blue; background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class ="row-fluid">
<table class = "table">

<thead>
  <tr>
    <th><br>2013<br><br></th>
  </tr>
</thead>
<tbody>
  <tr>
      <td><br>Pekalski J, Zuk PJ, Junkin M, Kellogg R, Tay S, Lipniacki T. "Stochastic NF-kappaB activation via autocrine TNFalpha signaling." Under review, <strong>PLOS One</strong><br><br></td>
  </tr>
    <tr>
      <td><br>Tay S, Kellogg R, Bichsel C, Lipniacki T, Quake SR. "Digital time-delayed NF-kappaB dynamics encode endotoxin dose", submitted <br><br></td>
  </tr>

  <tr>
    <td>

      <div class="span2">
        <%= image_tag '/publications/loc_cover_tino.jpg', :alt => 'tino loc cover', :class => "img-polaroid" %> 
      </div>

      <div class="span9" style="#position: absolute; #top: 50%;display: table-cell; vertical-align: middle;"><br>
        Frank T, Tay S. "Flow-switching allows independently programmable, extremely stable, high-throughput diffusion-based gradients". <strong>Lab on a Chip</strong>, 13, 1273 (2013).
        <%= link_to '[PDF]', '/publications/2013_loc_frank.pdf' -%> 
        <%= link_to '(Correction)', '/publications/2013_loc_frank_correction.pdf' -%> 

        <br><br>
        <i>(Featured cover article)</i>
        <br><br>
        <i> <%= link_to 'HOT', 'http://blogs.rsc.org/lc/2013/05/03/trio-of-hot-articles-reversible-phase-transitions-super-strong-adhesive-and-flow-switching-for-programmable-gradients/' -%>  article at RSC blog </i>
      </div>
    </td>
  </tr>

  <tr>
    	<td><br>S. Vedel,* S. Tay,* D. Johnston, H. Bruus, S. R. Quake. "Migration of cells in social context". <strong>PNAS</strong>, 110, 129 (2013) (*equal contribution) <%= link_to '[PDF]', '/publications/2012_pnas.pdf' -%><br><br></td>
	</tr>
</tbody>

<thead>
  <tr>
    <th><br>2010<br><br></th>
  </tr>
</thead>
<tbody>
  	<tr>
    	<td><br>S. Tay,* J. J. Hughey,* T. K. Lee, T. Lipniacki, S. R. Quake, M. W. Covert. “Single-cell NF-kappaB dynamics reveal digital activation and analogue information processing.” <strong>Nature</strong>, 466, 267 (2010) (*equal contribution)

    		<%= link_to '[PDF]', '/publications/2010_Nature_Tay.pdf' -%>

    		<br><br><i>Ranked "exceptional" by Faculty of 1000 Biology, and was covered by "The Seven Stones" EMBO, Biotechniques.com, and many others.</i><br><br></td>
  </tr>
	<tr>
    	<td><br>C. Christenson, P. Blanche, S. Tay, R. Voorakaranam, T. Gu, P. Wang, M. Yamamoto, R. Norwood, N. Peyghambarian. “Materials for an updateable holographic display”, <strong>IEEE Journal of Display Technology</strong>, 99, 1 (2010)
    		<%= link_to '[PDF]', '/publications/2010_IEEE_Christenson.pdf' -%> <br><br></td>
	</tr>
</tbody>

<thead>
  <tr>
    <th><br>2009<br><br></th>
  </tr>
</thead>
<tbody>
  	<tr>
    	<td><br>S. Tay, A. Kropachev, I. E. Araci, R. A. Norwood, T. Skotheim, N. Peyghambarian, “Plasmonic thermal IR emitters based on nano-amorphous carbon.” <strong>Applied Physics Letters</strong>, 94, 071113 (2009) <%= link_to '[PDF]', '/publications/2009_apl_tay.pdf'-%><br><br></td>
	</tr>
</tbody>

<thead>
  <tr>
    <th><br>2008<br><br></th>
  </tr>
</thead>
<tbody>
	<tr>
    	<td><br>S. Tay, P. Blanche, R. Voorakaranam, A. V. Tunc, J. Thomas, S. Rokutanda, R. Flores, P. Wang, G. Li, W. Lin, T. Gu, P. St. Hilaire, R. Norwood, M. Yamamoto, P. Wang and N. Peyghambarian, “An updateable holographic three-dimensional display.” <strong>Nature</strong>, 451, 694 (2008) <%= link_to '[PDF]', '/publications/2008_nature_tay.pdf' -%><br><br><i>This paper was covered by: CNN, Discovery Channel, National Geographic, BBC, NPR (National Public Radio), Photonics Spectra, Chemistry World, Physics World, Photonics Spectra, New Scientist, ABC News, Photonics.com, Daily Telegraph, Nikkei Newspaper, Optics.org, MIT Technology Review, Materials World, Laser Focus World, Die Welt, The Herald, IEEE Spectrum, Science et Vie and many others.</i><br><br></td>
	</tr>
	<tr>
    	<td><br>S. Tay, N. Peyghambarian, “Updateable holographic 3D displays based on photorefractive polymers” (invited) <strong>Society for Information Display</strong>, 24, 07, (2008)<br><br></td>
	</tr>
	<tr>
    	<td><br> N. Peyghambarian, S. Tay, P. Blanche, R. Norwood, M. Yamamoto, Rewritable holographic 3D displays” (invited) (Cover article). <strong>Optics and Photonics News</strong> (2008) <%= link_to '[PDF]', '/publications/2008_opn_tay.pdf' -%><br><br></td>
	</tr>
</tbody>

<thead>
  <tr>
    <th><br>2007<br><br></th>
  </tr>
</thead>
<tbody>
  	<tr>
    	<td><br>S. Tay, J. Thomas, B. Momeni, P. Hotchkiss, M. Askari, S. Jones, A. Adibi, S. R. Marder, R. A. Norwood and N. Peyghambarian, “Planar photonic crystals infiltrated with nanoparticle/polymer composites.” <strong>Applied Physics Letters</strong>, 91, 221109 (2007)<br><br></td>
	</tr>
	<tr>
    	<td><br>M. Eralp, J. Thomas, S. Tay, G. Li, M. Yamamoto, A. Schulzgen, R. Norwood, N. Peyghambarian, “Efficient photorefractive polymer operating in reflection geometry.” <strong>Optics Express</strong>, 15, 11622 (2007)<br><br></td>
	</tr>
</tbody>

<thead>
  <tr>
    <th><br>2006<br><br></th>
  </tr>
</thead>
<tbody>
  	<tr>
    	<td><br>S. Tay , N. Peyghambarian, “Photorefractive polymers and their applications in photonics” (invited) <strong>Sigma Journal of Engineering and Natural Sciences</strong>, 2005/4, Yildiz Technical University Press, Yildiz-Istanbul (2006)<br><br></td>
	</tr>
	<tr>
    	<td><br>M. Eralp, J. Thomas, G. Li, S. Tay, A. Schülzgen, R. A. Norwood M. Yamamoto and N. Peyghambarian, “Photorefractive polymer device with video-rate response time operating at low voltages.” <strong>Optics Letters</strong>, 31, 1408 (2006) <%= link_to '[PDF]', '/publications/2006_optics_tay.pdf' -%><br><br></td>
	</tr>
	<tr>
    	<td><br>M. Eralp, J. Thomas, S. Tay, G. Li, A. Schulzgen, R. Norwood, M. Yamamoto, N. Peyghambarian, “Submillisecond response of a photorefractive polymer under single nanosecond pulse exposure.” <strong>Applied Physics Letters</strong>, 89, 114105 (2006)<br><br></td>
	</tr>
</tbody>

<thead>
  <tr>
    <th><br>2005<br><br></th>
  </tr>
</thead>
<tbody>
  	<tr>
    	<td><br>J. Thomas, M. Eralp, S. Tay, M. Yamamoto, G. Li, R. Norwood, S. R. Marder, N. Peyghambarian, “Photorefractive polymers with superior performance.” <strong>Optics and Photonics News</strong>, December (2005)<br><br></td>
	</tr>
	<tr>
    	<td><br>S. Tay, J. Thomas, M. Eralp, G. Li, S. Marder, G. A. Walker, S. Barlow, M. Yamamoto, R. Norwood, A. Schülzgen and N. Peyghambarian, “High performance photorefractive polymer operating at 1550 nm with near video-rate response time.” <Strong>Applied Physics Letters</strong>, 87, 171105 (2005)<br><br></td>
	</tr>
	<tr>
    	<td><br>G. Li, M. Eralp, J. Thomas, S. Tay, S. R. Marder, A. Schülzgen, R. A. Norwood and N. Peyghambarian, “All-optical dynamic correction of communication signals using a photorefractive polymeric hologram.” <strong>Applied Physics Letters</strong>, 86, 161103 (2005)<br><br></td>
	</tr>
</tbody>

<thead>
  <tr>
    <th><br>2004<br><br></th>
  </tr>
</thead>
<tbody>
  	<tr>
    	<td><br>S. Tay, J. Thomas, M. Eralp, G. Li, B. Kippelen, S. R. Marder, G. Meredith, A. Schülzgen and N. Peyghambarian. “Photorefractive polymer composite operating at the optical communication wavelength of 1550 nm.” <strong>Applied Physics Letters</strong>, 85, 4561 (2004)<br><br></td>
	</tr>
	<tr>
    	<td><br> M. Eralp, J. Thomas, S. Tay, G. Li, G. Meredith, A. Schülzgen, N. Peyghambarian, G. A. Walker, S. Barlow, and S. R. Marder, “High performance photorefractive polymer operating at 975 nm.” <strong>Applied Physics Letters</strong>, 85, 1095 (2004)<br><br></td>
	</tr>
</tbody>
</table>
</div>

  <div id = "footer" class="hidden-sm">
    <div class = "container">
      <div class = "row-fluid">
        <a class="span2" href="http://www.bsse.ethz.ch/"><img src="/home/D-BSSE_logo.jpg"></a>
          <p class="span3 offset3"><br><br><br>The Tay Group 2013</p>
          <a class="span2 offset2" href="http://www.ethz.ch/index_EN"><br><br><br><img src="/home/eth_logo.jpg"></a>
      </div>
    </div>
  </div>

  <div class="footer visible-sm" style="text-align: center">
      <p>The Tay Group 2013</p>
  </div>
</div>

<!-- Javascript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<script>
  $(".collapse").collapse()
</script>

<script>
  $('.dropdown-toggle').dropdown()
</script>

<script>
  $('.navbar .dropdown').hover(function() {
    $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
  }, function() {
    $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp()
  });
</script>


</body>
</html>