<!DOCTYPE html>
<!-- Made by Alicia J. Kaestli, last updated on 2013/7/26 !-->
<html>

<head>
  <title>Tay Group</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
   <meta name="viewport" content="width=device-width"> 
   <!-- Bootstrap -->
   <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
   <link href="app/assets/styleshets/application.scss" rel="stylesheet" type="text/css">
  <style type="text/css">
  body{background-image:url('billie_holiday.png')}
  p{color: #222}
  .nav li {font-size: 13px; letter-spacing: +4px}
  .nav li a {font-size: 13px; letter-spacing: +4px}
  .brand {font-size: 20px; letter-spacing: +5px}
  .navbar .container{width: 960px;}
  .container{width: 960px;}
  </style>
</head> 

<body>

<div class="container">
  <%= yield %>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>

</html>